/* customModal.css */
.modal-content {
    background-image: url('https://images.unsplash.com/photo-1495837174058-628aafc7d610?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w0NTM1MDN8MHwxfHNlYXJjaHw4fHx3b21hbiUyMHBvd2VyfGVufDB8fHx8MTY4NTA3MzYzOHww&ixlib=rb-4.0.3&q=80&w=1080');
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .modal-body {
    color: #ffffff;
  }
  
  .modal-body a {
    color: #ffffff;
  }
  

  /* Marquee.css */
.marquee {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .marquee p {
    display: inline-block;
    animation: marquee 10s linear infinite;
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  