



.main{
  display: flex;
  justify-content:space-between;
 flex-wrap: wrap;
 padding: 14px;
}

.Movie{
  background-color: rgb(219, 212 ,212);
  color: rgb(23, 21, 21);
  border: 1px solid gray;
  padding: 3px;
  font-weight: bold;
 
}

